:root {
  --primary-text-color: blue;
  --width: 130px;
  --mobile: 768px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center-blue {
  text-align: center;
  color: blue;
  padding: 2px;
}
