:root {
  --width: 135px;
  --mobile: 768px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: midnightblue;
}

.center-blue {
  text-align: center;
  color: blue;
  padding: 2px;
}

code {
  font-size: 1.2em;
}

/* 
dialog::backdrop {
  background: none;
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.5s ease;
} */

section {
  margin: 5px;
}
